
<div>
  <h1>Government Budget and Fiscal Position, Annual </h1>
  <div class="divider py-1 " style="background-color:#123456" ></div>
  <div class="container" style="margin-top: 5%; margin-left: 15%; margin-right : 15%" >
    <h2 >
    Government Fiscal Position</h2>


    <div class="container" style="margin-top: 3%;">
      <div class="row">
        <div class="col col-lg-2">
          <app-register-gov-bfp></app-register-gov-bfp>
        </div>
        <div class="col col-lg-2">
          <app-delete-gov-bfp></app-delete-gov-bfp>
        </div>
        <div class="col col-lg-2">
          <app-update-gov-bfp></app-update-gov-bfp>
        </div>
      </div>
    </div>
    <div class= "container" style="margin-top: 3%;">

      <app-list-gov-bfp></app-list-gov-bfp>
      <p class="d-flex justify-content-end" style="color:rgba(82, 87, 87, 0.5);" > SOURCE: DATA.GOV.SG</p>
    </div>
    </div>
    
 

  </div>

