.btn-primary { 
    border-radius: 15px; 
    background-color:#123456;
    border-color:#123456;
    width: 100px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }